<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="course_filter_list_header">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
            <div class="row d-lg-flex justify-content-between align-items-center">
                <div class="col-md-6 col-lg-8 col-xl-9 ">
                    <h4 class="mb-3 mb-lg-0">전체 강의 개수 : <span th:text="${#lists.size(courseFormList)}"></span> 개의 강의</h4>
                </div>
                <div class="d-inline-flex col-md-6 col-lg-4 col-xl-3 ">
                    <div class="me-2">
                        <!-- Nav -->
                        <div class="nav btn-group flex-nowrap" role="tablist">
                            <button class="btn btn-outline-white active" data-bs-toggle="tab" data-bs-target="#tabPaneGrid" role="tab"
                                    aria-controls="tabPaneGrid" aria-selected="true">
                                <span class="fe fe-grid"></span>
                            </button>
                            <button class="btn btn-outline-white" data-bs-toggle="tab" data-bs-target="#tabPaneList" role="tab"
                                    aria-controls="tabPaneList" aria-selected="false">
                                <span class="fe fe-list"></span>
                            </button>
                        </div>
                    </div>
                    <!-- List  -->
                    <select class="selectpicker" data-width="100%">
                        <option value="">Sort by</option>
                        <option value="Newest">Newest</option>
                        <option value="Free">Free</option>
                        <option value="Most Popular">Most Popular</option>
                        <option value="Highest Rated">Highest Rated</option>
                    </select>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="course_filter_list_sidebar">
        <div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h4 class="mb-0">전체 강의</h4>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <span class="dropdown-header px-0 mb-2"> Category</span>
<!--                    &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                    <div class="form-check mb-1">-->
<!--                        <input type="checkbox" class="form-check-input" id="reactCheck" checked>-->
<!--                        <label class="form-check-label" for="reactCheck">React</label>-->
<!--                    </div>-->
                    <div class="form-check">
                        준비중이에요 !
                    </div>
                </div>
<!--                &lt;!&ndash; Card body &ndash;&gt;-->
<!--                <div class="card-body border-top">-->
<!--                    <span class="dropdown-header px-0 mb-2"> Ratings</span>-->
<!--                    &lt;!&ndash; Custom control &ndash;&gt;-->
<!--                    <div class="custom-control custom-radio mb-1">-->
<!--                        <input type="radio" class="form-check-input" id="starRadio1" name="customRadio">-->
<!--                        <label class="form-check-label" for="starRadio1">-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star text-warning "></i>-->
<!--                            <span class="fs-6">4.5 & UP</span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Custom control &ndash;&gt;-->
<!--                    <div class="custom-control custom-radio mb-1">-->
<!--                        <input type="radio" class="form-check-input" id="starRadio2" name="customRadio" checked>-->
<!--                        <label class="form-check-label" for="starRadio2"> <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star text-warning "></i>-->
<!--                            <span class="fs-6">4.0 & UP</span></label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Custom control &ndash;&gt;-->
<!--                    <div class="custom-control custom-radio mb-1">-->
<!--                        <input type="radio" class="form-check-input" id="starRadio3" name="customRadio">-->
<!--                        <label class="form-check-label" for="starRadio3"> <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star text-warning "></i>-->
<!--                            <span class="fs-6">3.5 & UP</span></label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Custom control &ndash;&gt;-->
<!--                    <div class="custom-control custom-radio mb-1">-->
<!--                        <input type="radio" class="form-check-input" id="starRadio4" name="customRadio">-->
<!--                        <label class="form-check-label" for="starRadio4"> <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                            <i class="mdi mdi-star text-warning "></i>-->
<!--                            <span class="fs-6">3.0 & UP</span></label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Card body &ndash;&gt;-->
<!--                <div class="card-body border-top">-->
<!--                    <span class="dropdown-header px-0 mb-2"> Skill Level</span>-->
<!--                    &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                    <div class="form-check mb-1">-->
<!--                        <input type="checkbox" class="form-check-input" id="allTwoCheck">-->
<!--                        <label class="form-check-label" for="allTwoCheck">All Level</label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                    <div class="form-check mb-1">-->
<!--                        <input type="checkbox" class="form-check-input" id="beginnerTwoCheck" checked>-->
<!--                        <label class="form-check-label" for="beginnerTwoCheck">Beginner</label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                    <div class="form-check mb-1">-->
<!--                        <input type="checkbox" class="form-check-input" id="intermediateCheck">-->
<!--                        <label class="form-check-label" for="intermediateCheck">Intermediate</label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                    <div class="form-check mb-1">-->
<!--                        <input type="checkbox" class="form-check-input" id="AdvancedTwoCheck">-->
<!--                        <label class="form-check-label" for="AdvancedTwoCheck">Advance</label>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </th:block>
</body>
</html>
